/*--------------------------------------------------------------------- Header styles-------------------------------------------------------------- */
.header {
    background-color: #FF99FF; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px; /* Khoảng cách giữa nội dung và khung */
    display: flex; /* Hiển thị các phần tử trong một hàng ngang */
    justify-content: space-between; /* Căn chỉnh nội dung theo cả hai bên */
    align-items: center; /* Căn chỉnh theo chiều dọc giữa các phần tử con */
    margin-bottom: 5px; /* Khoảng cách giữa header và body */
}

/* Thiết lập kiểu float và chiều cao cho logo */
#logo {
    float: left;
    height: 100px;
    padding-left: 20px;
}

/* Thiết lập chiều cao của hình ảnh logo để điều chỉnh về chiều cao của div chứa nó */
#logo img {
    height: 100%;
    width: auto;
}

/* .topnav {
    overflow: hidden;
} */

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 1.5px; /* Khoảng cách 2cm giữa các mục */
}

.topnav i {
    margin-left: 1.5px; /* Khoảng cách 10px giữa văn bản và biểu tượng */
}

/* CSS cho phần body */
ul.products {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    /* Thiết lập style cho từng sản phẩm */
    ul.products li {
        flex-basis: 25%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    /* Thiết lập style cho hình ảnh sản phẩm */
    ul.products img {
        max-width: 100%;
        height: auto;
    }

    /* Thiết lập style cho phần top của sản phẩm */
    ul.products li .product-top {
        position: relative;
        overflow: hidden;
    }

    /* Thiết lập style cho hình ảnh khi hover */
    ul.products li:hover .product-top .product-thumb img {
        filter: opacity()
    }

    /* Thiết lập style cho nút "Mua Ngay" */
    ul.products li .product-top a.buy-now {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: #446084;
        color: #fff;
        padding: 10px 0px;
        position: absolute;
        bottom: -36%;
        width: 100%;
        transition: 0.25s ease-in-out;
        opacity: 0.85;
    }

    /* Hiển thị nút "Mua Ngay" khi hover */
    ul.products li:hover a.buy-now {
        bottom: 0px;
    }0

    /* Thiết lập style cho thông tin sản phẩm */
    ul.products li .product-infor {
        padding: 10px 0px;
    }

        /* Thiết lập style cho danh mục sản phẩm */
        ul.products li .product-infor .cat {
            font-size: 11px;
            text-transform: uppercase;
            color: #bebebe;
            padding: 3px 0px;
        }
        /* Thiết lập style cho tên sản phẩm */
        ul.products li .product-infor a.product-name {
            color: #334862;
            padding: 3px 0px;
            text-decoration: none; /* Bỏ gạch chân */
            text-transform: uppercase; /* Viết in hoa */
        }

        /* Thiết lập style cho giá sản phẩm */
        ul.products li .product-infor .product-price {
            color: #111;
            padding: 2px 0px;
            font-weight: 600;
        }

        /* NÚT thêm giỏ hàng */
        /*ul.products li .product-infor{
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff6a00;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }*/

        /* Căn giữa nút thêm vào giỏ hàng */
        ul.products li .product-infor .muahang {
            margin: 0 auto;
        }

            /* Hiệu ứng hover */
        ul.products li .product-infor .muahang:hover {
            background-color: #45a049;
        }
.muahang {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f6eaaa;
    color: #111;
    text-align: center;
    text-decoration: none;
    font-size: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    border: none; /* Bỏ khung viền */
    border-radius: 8px; /* Đặt giá trị này tùy thuộc vào mức độ bo tròn mong muốn */
}

    .muahang:hover {
        background-color: #f3b91a;
    }

        /*footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;*/ /* Chiều cao 100% của viewport */
        /*}*/

        .icon {
    text-align: center;
}
#nutGioHang {
    background: #fca85d;
    transform: scale(1);
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động trong 0.3 giây với hiệu ứng "ease" */
}

    #nutGioHang:hover {
        transform: scale(0.8);
    }